// Requirements

// We are a company that handles book publications

// Book
// ISBN, Title, Author [], Language, Pub Date, Num Page, Category[]

// Authors
// Name, Id, Books[]

// Publications 
// Name, Id, Books[]

// Requirements

// Books

https://github.com/pavankpdev/bookapib1
// GET
// to get all books ✅ 📌DONE
// to get specific book ✅ 📌DONE
// to get a list of books based on category✅ 📌DONE
// to get a list of books based on author -> [Task]🔥 📕

// POST
// New Book ✅ 📌DONE

// PUT
// Update book details✅ 📌DONE
// update/add new author✅ 📌DONE

// DELETE
// delete a book✅ 📌DONE
// delete a author from a book✅ 📌DONE

// ---------------------------------------------------------------------------------------

// Author

// We need an API

// GET
// to get all authors✅ 📌DONE
// to get specific author [Task]🔥  📕DONE
// to get a list of authors based on a book. ✅  📕DONE

// POST
// New Author ✅ 📌DONE 

// PUT
// update Author name using id [Task] 🔥DONE

// DELETE
// Delete an author [Task] 🔥🚀DONE

// ---------------------------------------------------------------------------------------

// Publication

// We need an API

// GET
// to get all publications ✅  📕DONE
// to get specific publication [Task]🔥  📕DONE
// to get a list of publications based on a book. [Task]🔥  📕DONE

// POST
// Add new publication [task] 🔥  📕DONE

// PUT
// update publication name using id [Task] 🔥
// update/add new book to a publication✅ Done

// DELETE
// delete a book from publication ✅DONE
// delete a publication [Task] 🔥🚀DONE

// Add mongoose validation to All the models [Task] 🔥